<div class="container">
    <div class="card">
        <header>
            <h1>ASCAISC1002746(1)</h1>
    
            <div class="header-actions">
                <button class="btn btn-create">
                    <mat-icon>add</mat-icon>
                    Créer un avenant
                </button>
                <button class="btn btn-update">
                    <i class="fa-solid fa-rotate-right"></i>
                    &nbsp;
                    Mettre à jour
                </button>
                <button class="btn btn-client">
                    <mat-icon>person</mat-icon>
                    Fiche client
                </button>
            </div>
        </header>
    </div>
    <div class="card-1">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Date Eff</th>
                    <th>Opportunité</th>
                    <th>Organisme</th>
                    <th>Interlocuteur</th>
                    <th>Client</th>
                    <th>Gamme</th>
                    <th>Statut Actuel</th>
                    <th>Motif</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01-11/2024</td>
                    <td>8955453</td>
                    <td>O.N.E ASSURANCE</td>
                    <td>DUVAL, EVA</td>
                    <td>NEO DEV</td>
                    <td>ALL SANTE</td>
                    <td class="status-approved">A approuver</td>
                    <td>Pas de motif</td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <div class="main-content">
         <!-- Menu on the Right -->
         <div class="menu">
            <ul>
                <li><i class="fa-regular fa-rectangle-list"></i> &nbsp; &nbsp;Adhérent / Souscripteur</li>
                <li class="hover-item"><i class="fa-regular fa-rectangle-list"></i>&nbsp; &nbsp;Informations contrat</li>
                <li><i class="fa-regular fa-rectangle-list"></i>&nbsp; &nbsp;Garanties</li>
                <li><i class="fa-regular fa-rectangle-list"></i>&nbsp; &nbsp;Informations bancaires</li>
                <li><i class="fa-regular fa-rectangle-list"></i>&nbsp; &nbsp;Échéanciers</li>
                <li><i class="fa-regular fa-rectangle-list"></i>&nbsp; &nbsp;Frais & Paiement</li>
                <li><i class="fa-regular fa-rectangle-list"></i>&nbsp; &nbsp;Transactions financières</li>
                <li><i class="fa-regular fa-rectangle-list"></i>&nbsp; &nbsp;Porte Documents</li>
                <li><i class="fa-regular fa-rectangle-list"></i>&nbsp; &nbsp;Relation Affaire</li>
                <li><i class="fa-regular fa-rectangle-list"></i>&nbsp; &nbsp;Tickets</li>
            </ul>
        </div>
        
        <!-- Form Card on the Left -->
        <div class="form-card">
            <form>
                <div class="form-row">
                    <label for="ligne-produit">Ligne de produit</label>
                    <input type="text" id="ligne-produit" name="ligne-produit" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="cie">Cie</label>
                    <input type="text" id="cie" name="cie" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="nom-produit">Nom du produit</label>
                    <input type="text" id="nom-produit" name="nom-produit" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="nom-gamme">Nom de la gamme</label>
                    <input type="text" id="nom-gamme" name="nom-gamme" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="renfort">Renfort</label>
                    <input type="text" id="renfort" name="renfort" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="formule">Formule</label>
                    <input type="text" id="formule" name="formule" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="num-contrat">N° contrat</label>
                    <input type="text" id="num-contrat" name="num-contrat" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="num-adherent">N° adhérent</label>
                    <input type="text" id="num-adherent" name="num-adherent" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="code-barme">Code barème</label>
                    <input type="text" id="code-barme" name="code-barme" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="date-effet">Date d'effet</label>
                    <input type="text" id="date-effet" name="date-effet" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="date-souscription">Date de souscription</label>
                    <input type="text" id="date-souscription" name="date-souscription" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="date-realisation">Date de réalisation</label>
                    <input type="text" id="date-realisation" name="date-realisation" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="date-rappel">Date de rappel pour la réalisation</label>
                    <input type="text" id="date-rappel" name="date-rappel" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="pan-mad">PAN MAD</label>
                    <input type="text" id="pan-mad" name="pan-mad" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="pm-mad">PM MAD</label>
                    <input type="text" id="pm-mad" name="pm-mad" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="mode-paiement">Mode de paiement</label>
                    <input type="text" id="mode-paiement" name="mode-paiement" value="2020-11-08">
                </div>
                <div class="form-row">
                    <label for="fractionnement-prime">Fractionnement de la prime</label>
                    <input type="text" id="fractionnement-prime" name="fractionnement-prime" value="2020-11-08">
                </div>
                <div class="form-row full-width">
                    <label for="commentaire">Commentaire</label>
                    <textarea id="commentaire" name="commentaire"></textarea>
                </div>
            </form>
        </div>
        
        

       
    </div>
</div>
